@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2"); }
* {
  margin: 0;
  padding: 0; }

html, body {
  font: normal 14pt Lato, Arial;
  height: 100%; }

body {
  display: table;
  width: 100%; }
  body .page-row {
    display: table-row;
    height: 1px; }
  body .expand {
    height: 100%;
    padding-top: 0;
    padding-bottom: auto; }

.container {
  width: 90%;
  padding: 0 5%; }

.clearfix {
  display: block; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

hr {
  width: 100%;
  border: none;
  height: 3px;
  color: #F7F7F7;
  background-color: #F7F7F7; }

.header {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 0 5%; }
  .header .logo {
    display: inline-block; }
  .header .dropdown {
    display: none; }
  .header .dropdown-toggle {
    display: none; }
  .header .mainmenu {
    float: right;
    display: inline-block; }
    .header .mainmenu .menu {
      text-align: center;
      list-style-type: none;
      float: left;
      width: 100%;
      margin: 0; }
      .header .mainmenu .menu .item {
        float: left;
        width: auto;
        padding: 10px 0 10px 20px;
        text-transform: uppercase;
        font-size: 18px; }
        .header .mainmenu .menu .item a {
          text-decoration: none;
          color: #000; }
      .header .mainmenu .menu .active a {
        padding-bottom: 10px;
        border-bottom: 3px solid #e85d22; }
  @media screen and (max-device-width: 700px), screen and (max-width: 700px) {
    .header .dropdown-toggle {
      display: inline-block !important;
      float: right;
      cursor: pointer; }
      .header .dropdown-toggle img {
        width: 40px; }
    .header .mainmenu {
      display: none !important; }
    .header .dropdown:checked ~ .mainmenu {
      display: block !important;
      float: left;
      width: 100%; }
      .header .dropdown:checked ~ .mainmenu .menu .item {
        text-align: left;
        width: 100%;
        float: none;
        font-size: 30px; }
        .header .dropdown:checked ~ .mainmenu .menu .item a {
          width: 100%; } }

.products {
  width: 100%; }
  .products .clearfix {
    display: none; }
  .products .row {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .products .row .view {
      float: left;
      text-align: center;
      width: 32%;
      margin-bottom: 70px;
      margin-top: 30px;
      text-transform: uppercase; }
      .products .row .view .image {
        background-color: #F7F7F7; }
        .products .row .view .image img {
          width: 80%; }
      .products .row .view p {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        padding: 20px; }
      .products .row .view a {
        background-color: #e85d22;
        color: #fff;
        padding: 5px 10px;
        font-size: 18px;
        border: none;
        border-radius: 2px;
        text-decoration: none; }
  @media screen and (max-device-width: 700px), screen and (max-width: 700px) {
    .products .row {
      display: block; }
      .products .row .view {
        float: none;
        width: 100%;
        margin-top: 20px; } }

.products:before, .products:after {
  content: " ";
  display: table; }

.products:after {
  clear: both; }

.col-content {
  width: 60%;
  float: left;
  margin-top: 50px; }
  .col-content .tagTitle {
    margin-top: 0;
    font-size: 26px; }
  .col-content .post {
    background-color: #F7F7F7;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 10px;
    width: 100%; }
    .col-content .post > * {
      padding: 0 20px; }
    .col-content .post .title a {
      color: #e85d22;
      text-decoration: none;
      font-size: 30px;
      @endif; }
      .col-content .post .title a:hover {
        text-decoration: underline; }
    .col-content .post .author {
      font-style: italic;
      color: #7e7e7e;
      font-size: 14px; }
    .col-content .post .content {
      color: #000;
      font-size: 18px; }
    .col-content .post .nav {
      margin-top: 10px;
      font-size: 14px; }
      .col-content .post .nav a {
        color: #000;
        text-decoration: none;
        font-size: 14px;
        @endif; }
        .col-content .post .nav a:hover {
          text-decoration: underline; }
      .col-content .post .nav span {
        font-style: italic;
        color: #7e7e7e;
        font-size: 14px; }
  .col-content .comments {
    padding-left: 20px;
    width: 100%;
    margin-top: -50px; }
    .col-content .comments .comment {
      background-color: #F7F7F7;
      padding: 20px;
      border-top: 1px solid #7e7e7e;
      border-left: 5px solid #e85d22; }
      .col-content .comments .comment a {
        color: #000;
        text-decoration: none;
        font-size: 14px;
        @endif; }
        .col-content .comments .comment a:hover {
          text-decoration: underline; }
      .col-content .comments .comment .author {
        font-size: 20px;
        font-weight: bold; }
      .col-content .comments .comment .time {
        font-style: italic;
        color: #7e7e7e;
        font-size: 14px; }
    .col-content .comments .form {
      background-color: #F7F7F7;
      padding: 10px 20px;
      margin: 10px 0 50px -20px; }
      .col-content .comments .form:only-child {
        margin-top: 60px !important; }
      .col-content .comments .form .commentTitle {
        font-size: 26px; }
      .col-content .comments .form .note {
        font-style: italic;
        color: #7e7e7e; }
      .col-content .comments .form span.required {
        color: #FF0000; }
      .col-content .comments .form .row {
        width: 100%;
        margin-bottom: 10px;
        font-size: 14px; }
        .col-content .comments .form .row .threeCol {
          width: 30%;
          float: left;
          margin: 0 1.5%; }
          .col-content .comments .form .row .threeCol > * {
            width: 100%; }
        .col-content .comments .form .row .oneCol {
          width: 100%; }
          .col-content .comments .form .row .oneCol input, .col-content .comments .form .row .oneCol textarea {
            width: 100%;
            max-width: 100%; }
        .col-content .comments .form .row .errorMessage {
          color: #FF0000; }
        .col-content .comments .form .row .error input, .col-content .comments .form .row .error textarea {
          border: 1px solid #FF0000;
          box-shadow: 0 0 5px #FF0000; }
        .col-content .comments .form .row input, .col-content .comments .form .row textarea {
          font-size: 14px;
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          outline: none;
          padding: 3px;
          border: 1px solid #7e7e7e;
          border-radius: 3px; }
          .col-content .comments .form .row input:focus, .col-content .comments .form .row textarea:focus {
            box-shadow: 0 0 5px #e85d22;
            padding: 3px;
            border: 1px solid #e85d22; }
      .col-content .comments .form .buttons input[type="submit"] {
        color: #fff;
        background-color: #da5117;
        padding: 5px 10px;
        border-radius: 5px;
        border: none; }
        .col-content .comments .form .buttons input[type="submit"]:hover {
          background-color: #ea6e39; }
    .col-content .comments .flash-success {
      padding: 20px;
      margin-top: 20px;
      margin-left: 20px;
      color: #000;
      background-color: #A6D785;
      border-radius: 5px; }

.sidebar {
  width: 30%;
  float: right; }
  .sidebar .portlet {
    margin: 50px 0;
    width: 100%; }
    .sidebar .portlet > * {
      padding: 5px; }
    .sidebar .portlet .portlet-decoration {
      background-color: #ed7f50;
      border-left: 5px solid #e85d22;
      color: #000;
      font-size: 18px; }
    .sidebar .portlet .portlet-content {
      background-color: #F7F7F7;
      font-size: 14px !important;
      padding: 10px; }
      .sidebar .portlet .portlet-content a {
        color: #000;
        text-decoration: none;
        @endif; }
        .sidebar .portlet .portlet-content a:hover {
          text-decoration: underline; }
      .sidebar .portlet .portlet-content ul {
        list-style-type: none;
        padding: 0;
        margin: 0; }
        .sidebar .portlet .portlet-content ul li {
          color: #000; }

@media screen and (max-device-width: 700px), screen and (max-width: 700px) {
  .col-content {
    width: 100%; }
    .col-content .post {
      margin-top: 30px;
      padding: 10px 0; }
    .col-content .comments {
      width: auto; }
    .col-content .form .row .threeCol {
      width: 100% !important;
      margin: 0 !important; }

  .sidebar {
    width: 100%; }
    .sidebar .portlet {
      margin: 20px 0; } }
.footer {
  background-color: #000;
  padding: 20px 5%;
  margin-top: 20px; }
  .footer .logo {
    float: left; }
    .footer .logo img {
      display: inline-block;
      vertical-align: middle; }
  .footer .copy {
    float: right;
    color: #fff;
    font-size: 14px; }
    .footer .copy a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      @endif; }
      .footer .copy a:hover {
        text-decoration: underline; }
  @media screen and (max-device-width: 700px), screen and (max-width: 700px) {
    .footer .logo {
      width: 100%;
      float: none;
      text-align: center;
      margin: 10px; }
      .footer .logo img {
        height: 30px; }
    .footer .copy {
      float: none;
      text-align: center;
      width: 100%;
      margin: 10px; }
      .footer .copy p span {
        display: block; } }

/*# sourceMappingURL=main2.css.map */
