.footer
	background-color: $black
	padding: 20px 5%
	margin-top: 20px
	.logo
		float: left

		img
			display: inline-block
			vertical-align: middle

	.copy
		float: right
		color: $white
		font-size: 14px
		@include aTag($white, 14px)

	@media screen and (max-device-width: 700px), screen and (max-width: 700px)
		.logo
			width: 100%
			float: none
			text-align: center
			margin: 10px

			img
				height: 30px

		.copy
			float: none
			text-align: center
			width: 100%
			margin: 10px

			p span
				display: block
