.header 
	margin-top: 20px
	margin-bottom: 10px
	font-weight: bold
	padding: 0 5%

	.logo 
		display: inline-block

	.dropdown
		display: none

	.dropdown-toggle
		display: none

	.mainmenu 
		float: right
		display: inline-block		

		.menu
			text-align: center
			list-style-type: none
			float: left
			width: 100%
			margin: 0

			.item 
				float: left
				width: auto
				padding: 10px 0 10px 20px
				text-transform: uppercase
				font-size: 18px

				a 	
					text-decoration: none
					color: $black

			.active a
				padding-bottom: 10px
				border-bottom: 3px solid $orange

	@media screen and (max-device-width: 700px), screen and (max-width: 700px)

		.dropdown-toggle
			display: inline-block !important
			float: right
			cursor: pointer

			img
				width: 40px
		
		.mainmenu
			display: none !important

		.dropdown:checked ~ .mainmenu
			display: block !important
			float: left
			width: 100%

			.menu
				.item
					text-align: left
					width: 100%
					float: none
					font-size: 30px

					a
						width: 100%