@font-face 
	font-family: 'Lato'
	font-style: normal
	font-weight: 400
	src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2')

*
	margin: 0
	padding: 0

html, body 
	font: normal 14pt Lato, Arial
	height: 100%

body
	display: table
	width: 100%

	.page-row
		display: table-row
		height: 1px

	.expand
		height: 100%
		padding-top: 0
		padding-bottom: auto

.container 
	width: 90%
	padding: 0 5%

.clearfix
	display: block
	@include clearfix()

hr
	width: 100%
	border: none
	height: 3px
	color: $light-grey
	background-color: $light-grey