// Grid
@mixin col($col, $sum, $gap: 1em, $align: top, $first: false, $last: false) 
	width: percentage($col/$sum)
	font-size: 16px
	display: inline-block
	vertical-align: $align
	box-sizing: border-box

	@media screen and (min-device-width: 768px), screen and (min-width: 768px)
		width: percentage($col/$sum)
		vertical-align: $align

	@media screen and (max-device-width: 767px), screen and (max-width: 767px)
		width: 100%

// Clearfix
@mixin clearfix
	&:after 
		content: ""
		display: table
		clear: both

// Vertical align
@mixin centre()
	position: absolute
	top: 0
	left: 0

// a tag styling
@mixin aTag($color, $fontSize:"")
	a
		color: $color
		text-decoration: none
		@if ($fontSize != "")
		font-size: unquote($fontSize)
		@endif

		&:hover
			text-decoration: underline

// Transition
@mixin transition($value)
	transition: $value
	-webkit-transition: $value
	-moz-transition: $value
	-ms-transition: $value
	-o-transition: $value
