.col-content
	width: 60%
	float: left
	margin-top: 50px

	.tagTitle
		margin-top: 0
		font-size: 26px

	.post
		background-color: $light-grey
		margin-top: 0
		margin-bottom: 50px
		padding: 10px
		width: 100%

		& > *
			padding: 0 20px
			
		.title
			@include aTag($orange, 30px)

		.author
			font-style: italic
			color: $medium-grey
			font-size: 14px

		.content
			color: $black
			font-size: 18px

		.nav
			margin-top: 10px
			@include aTag($black, 14px)
			font-size: 14px

			span
				font-style: italic
				color: $medium-grey
				font-size: 14px

	.comments
		padding-left: 20px
		width: 100%
		margin-top: -50px

		.comment
			background-color: $light-grey
			padding: 20px
			@include aTag($black, 14px)
			border-top: 1px solid $medium-grey
			border-left: 5px solid $orange

			.author
				font-size: 20px
				font-weight: bold

			.time
				font-style: italic
				color: $medium-grey
				font-size: 14px
		
		.form
			background-color: $light-grey
			padding: 10px 20px
			margin: 10px 0 50px -20px
			&:only-child
				margin-top: 60px !important

			.commentTitle
				font-size: 26px

			.note
				font-style: italic
				color: $medium-grey

			span.required
				color: $red

			.row
				width: 100%
				margin-bottom: 10px
				font-size: 14px

				.threeCol
					width: 30%
					float: left
					margin: 0 1.5%

					& > *
						width: 100%

				.oneCol
					width: 100%

					input, textarea
						width: 100%
						max-width: 100%

				.errorMessage
					color: $red

				.error
					input, textarea
						border: 1px solid $red
						box-shadow: 0 0 5px $red

				input, textarea
					font-size: 14px
					@include transition(all 0.3s ease-in-out)
					outline: none
					padding: 3px
					border: 1px solid $medium-grey
					border-radius: 3px

					&:focus
						box-shadow: 0 0 5px $orange
						padding: 3px
						border: 1px solid $orange 

			.buttons
				input[type="submit"]
					color: $white
					background-color: darken($orange, 5%)
					padding: 5px 10px
					border-radius: 5px
					border: none

					&:hover
						background-color: lighten($orange, 5%)
		
		.flash-success
			padding: 20px
			margin-top: 20px
			margin-left: 20px
			color: $black
			background-color: $green
			border-radius: 5px

.sidebar
	width: 30%
	float: right

	.portlet
		margin: 50px 0
		width: 100%
		
		& > *
			padding: 5px

		.portlet-decoration
			background-color: lighten($orange, 10%)
			border-left: 5px solid $orange
			color: $black
			font-size: 18px

		.portlet-content
			background-color: $light-grey
			font-size: 14px !important
			@include aTag($black)
			padding: 10px

			ul
				list-style-type: none
				padding: 0
				margin: 0

				li
					color: $black


@media screen and (max-device-width: 700px), screen and (max-width: 700px)
	.col-content
		width: 100%

		.post
			margin-top: 30px
			padding: 10px 0

		.comments
			width: auto

		.form
			.row
				.threeCol
					width: 100% !important
					margin: 0 !important

	.sidebar
		width: 100%

		.portlet
			margin: 20px 0