.products
	width: 100%

	.clearfix
		display: none

	.row
		width: 100%
		display: flex
		justify-content: space-between

		.view
			float: left
			text-align: center
			width: 32%
			margin-bottom: 70px
			margin-top: 30px
			text-transform: uppercase

			.image
				background-color: $light-grey

				img
					width: 80%

			p
				text-transform: uppercase
				font-weight: bold
				font-size: 18px
				padding: 20px

			a
				background-color: $orange
				color: $white
				padding: 5px 10px
				font-size: 18px
				border: none
				border-radius: 2px
				text-decoration: none

	@media screen and (max-device-width: 700px), screen and (max-width: 700px)
		.row
			display: block

			.view
				float: none
				width: 100%
				margin-top: 20px

.products:before, .products:after
	content: " "
	display: table

.products:after
	clear: both

